
# Node modules
node_modules
node_modules/

# Output folder
dist
site
_dist
_site

# Env Variables
.env

# cache
.cache
cache
_cache

#functions
functions

# sass Cache
.sass-cache
*.scssc

# Misc
*.log
npm-debug.*
*.swp
.DS_Store
Thumbs.db

