
:root {

    --primary: #4b6cc1; 
    --accent-light: #1a4b95;
    --color-bg: #fffffe;
    --color-text: #364152;
    --color-text-offset: #222725;
    --color-links: #3a6297;

    --color-gray: #6b7280;
    --color-grey: #D2D7DF;
    --gray: #999;
    --dark: #2e4057;
    --light: #f9f9f9;

    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-family-display: 'Barlow', Arial, sans-serif;

}