---
layout: layouts/base.njk
---

    <header class="page-header">
        <div class="page-header__inner container">

            <h1 class="page-header__title">
                {{ title }}
            </h1>
            {% if description %}
                <p class="lead">
                    {{ description | safe }}
                </p>
            {% endif %}

        </div>
        {% include "svg/wave.svg" %} 
    </header>



    {{ content | safe }}


    
