--- 
layout: layouts/base.njk
shareText: 'Just finished reading '
shareTwitter: ?share=twitter&nb=1
shareFacebook: ?share=facebook&nb=1
headerColor: bg-dark
---


<article 
    id="{{ title | slug }}" 
    class="post" 
    role="article" 
    aria-labelledby="{{ title | slug }}-title" 
>
    <header class="post__header page-header">
        <div class="page-header__inner article-container">
            <h1>
                {{ title }}
            </h1>
            <p class="lead">
                <div class="post__meta">
                    <time class="post__date" datetime="{{ date | dateISO }}">{{ date | dateFriendly }}</time>
                    <span aria-hidden="true" focusable="false">&sdot;</span>
                    <span class="post__read-time">{{ content | wordcount | readTime }}</span>
                    {% if draft %}
                    <span aria-hidden="true" focusable="false">&sdot;</span> 
                    <span class="post__status">(Draft)</span>
                    {% endif %}
        
                    {% if tags %}
                        <ul class="post__tags" aria-describedby="tags-desc">
                        {% for tag in tags %}
                            <li>
                                <a href="/blog/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') }}</a>
                            
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
        
                </div>
            </p>
        </div>
        {% include "svg/wave.svg" %}
    </header>


    <div class="post__content markdown article-container">
        
        <div class="article">
            {{ content | safe }}
        </div>
        
    </div>



    <footer class="post__footer">

        <div class="footer-section">
            <div class="share article-container">
                <strong>Share this article</strong>
                <ul class="share-list">
                    <li>
                        <a  
                            href=""
                            target="_blank"
                            rel="noopener noreferrer"
                            title="Share on Twitter"
                            class="share-twitter"
                        >
                            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                            <span class="sr-only">Click to share on Twitter (Opens in new window)</span>
                        </a> 
                    </li>
                    <li>
                        <a 
                            href="" 
                            target="_blank" 
                            rel="noopener nofollow" 
                            class="share-facebook"
                            >
                            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                            <span class="sr-only">Click to share on Facebook (Opens in new window)</span>
                        </a>
                        
                    </li>
                    <li>
                        <a href="" class="share-linkedin"
                            target="_blank">
                            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                                <use xlink:href="#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="footer-section">
            <div class="share-widget article-container">
              <ul role="list" class="share-list-2">
                <strong>Share this article:</strong>
                <li>
                    <a href="https://twitter.com/intent/tweet?url=http://www.nngroup.com/articles/in-page-links/&amp;text=Anchors OK? Re-Assessing In-Page Links&amp;via=nngroup" data-share-type="Twitter">Twitter</a>
                    <span aria-hidden="true"> | </span>
                </li>
                <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.nngroup.com/articles/in-page-links/&amp;title=Anchors OK? Re-Assessing In-Page Links&amp;source=Nielsen%20Norman%20Group" data-share-type="LinkedIn">LinkedIn</a>
                    <span aria-hidden="true"> | </span>
                </li>
                <li><a href="mailto:?subject=NN/g Article: Anchors OK? Re-Assessing In-Page Links&amp;body=https://www.nngroup.com/articles/in-page-links/" data-share-type="Email">Email</a></li>
              </ul>
            </div>
        </div>

        <div class="footer-section">
            <div class="next-prev-post article-container">
                {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                {% if previousPost %}
                    <div class="prev-post">
                        <strong>Prev article: </strong><br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
                {% endif %}

                {% set nextPost = collections.posts | getNextCollectionItem(page) %}
                {% if nextPost %}
                    <div class="next-post">
                        <strong>Next article: </strong>
                        <br> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>
                {% endif %}
            </div>
        </div>


        <div class="footer-section">
            <div class="other-posts article-container">
                <h2 id="other-posts">More from the blog</h2>
                {% include "partials/other-posts-list.njk" %}
                <a class="btn btn--primary" href="/blog/">Back to blog</a>
            </div>
        </div>
        

        <div class="footer-section">
            <div class="rss article-container">
                <h2 id="rssFeed">Subscribe to the feed</h2>

                <a href="{{ site.feedUrl }}" class="btn btn--primary outlined" title="RSS Feed" style="border-radius: 38px;"> 
                    <svg class="icon icon-rss" role="img" aria-hidden="true" width="20" height="20" style="fill: currentColor;">
                        <use xlink:href="#icon-rss"></use>
                    </svg>
                    <span class="label">RSS Feed</span>
                </a>
            </div>
        </div>

    </footer><!-- end POST__FOOTER -->
        
        
        