/* Define dark and light palettes with CSS variables */


:root {

    /* Theme Colors - checkout https://www.w3schools.com/colors/colors_analogous.asp*/
    --primary: #4b6cc1; 
    --primary-hover: hsl(var(--primary), 100%, 39%);
    --secondary: #4BA7C1;
    --tertiary: #654BC1;
    --color-header: #222725;
    --color-bg: #fffffe;
    --color-text: #364152;
    --color-text-hover: hsl(var(--color-text), 100%, 39%);
    --color-text-offset: #818a91;
    /* --color-links: #1a4b95; */
    --color-links: #3a6297;
    --color-links-hover: #4A7ABA;
    --color-gray: #6b7280;
    --color-light-gray: #D2D7DF;
    --gray: #6b7280;
    --light-gray: #D2D7DF;
    --dark: #2e4057;
    --light: #f9f9f9;


    
    --secondary: #1eb9c6;
    --text: #64626f;
    --bg: #f7fbff;
    

    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;

    /* Box Shadows */
    --shadow-01: 0px 2px 4px rgba(37, 37, 37, 0.1);
    --shadow-02: 0px 4px 8px rgba(37, 37, 37, 0.1);
    --shadow-03: 0px 8px 16px rgba(37, 37, 37, 0.1);
    --shadow-04: 0px 16px 24px rgba(37, 37, 37, 0.1);
    --shadow-05: 0px 24px 32px rgba(37, 37, 37, 0.1);

    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, San Francisco, 
                    Segoe UI, Roboto, Helvetica Neue, sans-serif;

    --font-family-display: 'Barlow', Arial, sans-serif;


    /* Fluid Font Sizes */
    --fs-xs: clamp(0.79rem, 0.03vw + 0.78rem, 0.8rem);
    --fs-sm: clamp(0.93rem, 0.19vw + 0.88rem, 1rem);
    --fs-base: clamp(1.1rem, 0.43vw + 0.99rem, 1.25rem);
    --fs-md: clamp(1.3rem, 0.76vw + 1.11rem, 1.56rem);
    --fs-lg: clamp(1.53rem, 1.2vw + 1.23rem, 1.95rem);
    --fs-xl: clamp(1.81rem, 1.81vw + 1.35rem, 2.44rem);
    --fs-xxl: clamp(2.13rem, 2.63vw + 1.48rem, 3.05rem);
    --fs-xxxl: clamp(2.52rem, 3.71vw + 1.59rem, 3.82rem);
    
  }
    /* Light Mode */
:root[data-theme="light"] {
    /* Theme Colors - checkout https://www.w3schools.com/colors/colors_analogous.asp*/
    --primary: #4b6cc1; 
    
    --primary-hover: hsl(var(--primary), 100%, 39%);
    --secondary: #4BA7C1;
    --tertiary: #654BC1;
    --color-header: #222725;
    --color-bg: #fffffe;
    --color-text: #364152;
    --color-text-hover: hsl(var(--color-text), 100%, 39%);
    /* --color-links: #1a4b95; */
    --color-links: #3a6297;
    --color-links-hover: #4A7ABA;
    --color-gray: #6b7280;
    --color-light-gray: #D2D7DF;
    --color-light-blue: #80bdff;
    --color-dark-blue: #0a1b3e;
    --color-blue: #006cfa;
    --gray: #6b7280;
    --light-gray: #D2D7DF;
    --dark: #2e4057;
    --light: #f9f9f9;

  }
  
  /* Dark Mode */
  :root[data-theme="dark"] {
    --primary: #4b6cc1; 
    --primary: #477bff;
    --primary-hover: hsl(var(--primary), 100%, 39%);
    --secondary: #4BA7C1;
    --tertiary: #654BC1;
    --color-header: #222725;
    --color-bg: #364152;
    --color-text:#fffffe;
    --color-text-hover: hsl(var(--color-text), 100%, 39%);
    --color-links: #1a4b95;
    --color-links-hover: hsl(var(--color-links), 100%, 39%);
  }

    

/* 
Setting CSS Variables with JS:
element.style.setProperty(’--color’, ’green’);
element.style = "--color: green";   (sets the variable inline).

font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
    Roboto, Helvetica Neue, sans-serif;
*/