

/* FORMS */
form {
    margin-right: 1em;
}

.field {
    max-width: 26em;
    margin-bottom: 30px;
}

.field label, .field legend {
    font-size: 1.2em;
    line-height: 1.38889;
    margin-bottom: 5px;
    display: block;
}
.field-label {
    font-size: 1.2em;
    display: block;
    font-weight: 700;
    color: #2d3748;
}
.field-hint {
    font-size: 0.8em;
    color: #4a5568;
    color: var(--color-text-offset);
    margin-bottom: 5px;
    display: block;
    
}
fieldset {
    border: none;
    padding: 0;
}
.field-radioButton label, 
.field-checkbox label {
    background-color: #e2e8f0;
    margin-bottom: 5px;
    display: block;
    padding: 13px 18px;
    border: 2px solid #e2e8f0;
    border-radius: 5px;
    color: #2d3748;
}

.field-radioButton label:hover, 
.field-checkbox label:hover {
    border-color: #4a5568;
}
.field-radioButton input, 
.field-checkbox input {
    margin-right: 10px;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
/* .field-checkbox label {
    background-color: #e2e8f0;
    margin-bottom: 5px;
    display: block;
    padding: 13px 18px;
    border: 2px solid #e2e8f0;
    color: #2d3748;
}
.field-checkbox input {
    margin-right: 10px;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
} */
[type="date"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    font-family: inherit;
    appearance: none;
    border: 2px solid #718096;
    border-radius: 5px;
    scroll-margin-top: 3em;
}
input:focus, 
textarea:focus {
    /* outline: 5px solid lightblue;
    outline: 5px solid var(--color-light-blue); */
    border: 2px solid var(--color-light-blue);
    outline: 0;
    box-shadow: 0 0 0 0.3rem rgb(0 123 255 / 25%);
}


textarea {
    height: 10em;
}
#expiry {
    width: 5em;
}
#cvc {
    width: 4em;
}
#postcode {
    width: 8em;
}


::-ms-reveal {
    display: none;
}
#reveal {
    padding: 8px 10px;
}
[aria-pressed="true"] {
/*box-shadow: inset 0 0 0 0.15rem #000, inset 0.25em 0.25em 0 #fff;*/
}

.errorSummary {
    border: 4px solid #e53e3e;
    padding: 16px;
    margin-bottom: 20px;
    max-width: 40em;
}
.errorSummary h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #2d3748;
}
.errorSummary ul {
    font-size: 1em;
    line-height: 1.25;
    color: #e53e3e;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}
.errorSummary a {
    color: #e53e3e;
    font-weight: 700;
    text-decoration: underline;
}
.field-error {
    color: #e53e3e;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}
.field-error svg {
    margin-top: 5px;
    vertical-align: bottom;
    width: 1.5625em;
    fill: #e53e3e;
    margin-right: 5px;
}


#name,
#email,
#password,
#message {
    
}