/* PAGINATION STYLES */

.pagination {
    display: flex;
    justify-content: space-between;
    max-width: 65ch;
}

 .pagination-numbered ol {
     padding-left: 0;
     margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 65ch;
   margin-top: 4em;
}
.pagination-numbered li {
    margin-bottom: 2em;
    list-style: none;
}

.pagination-numbered a {
    
    font-size: 0.75em;
    color: var(--color-text);
    margin: 0 0.35em;
    background-color: var(--color-bg);
    border: 2px solid var(--gray);
    border-radius: 50%;
    border-radius: 38px;
    text-align: center;
   /*  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff; */
    padding: 10px 16px;
}

/* PREV AND NEXT BUTTONS */
.pag-btn {
    color: var(--color-links);
    text-transform: uppercase;
    text-decoration: underline solid var(--color-links) 3px;
    padding: 0.9em;
}
.pag-btn:hover,
.pag-btn:focus {
    color: var(--color-links-hover);
    text-transform: uppercase;
    text-decoration: underline solid var(--color-links-hover) 3px;
}
/* 
.pagination a:first-child {
    margin-right: 1.2em;
} 
.pagination a:last-child {
    margin-left: 1.2em;
} */

.pagination-numbered a[aria-current="page"] {
    background-color: var(--color-light-gray);
    text-decoration: none;
}

.pagination-numbered a:hover {
    color: var(--primary);
    border-color: var(--primary);
    text-decoration: none;
    color: var(--color-bg);
    background-color: var(--color-text);
    border: 2px solid var(--color-text);
}

.pagination .prev {
    text-transform: uppercase;
    margin-right: 1.1em;
    border-radius: 38px;
    padding: 0.625em 1em;
} 
.pagination .next {
    text-transform: uppercase;
    margin-left: 1.1em;
    border-radius: 38px;
    padding: 0.625em 1.1em;
}


.isDisabled {
  /* cursor: not-allowed; */
  opacity: 0.5;           
}
a[aria-disabled="true"] {
  color: currentColor;
  background-color: transparent;
  fill: #c7c7c7;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

a[aria-disabled="true"]:focus {
    text-decoration: none;
}



