
/*
    BLOG | ARTICLES
*/
.articles {
    margin-bottom: 6em;
    grid-area: articles;
    /* padding: 1.5em; */
 }
 .topics,
 .rss-feed {
     margin-bottom: 5em;
 }
 
 .sidebar {
     
     grid-area: sidebar;
     /* padding-left: 1.5em; */
 }
 
.blog-layout {
    display: grid;
    grid-template-areas: "articles"
                         "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 3.5em;
}

@media (min-width: 768px) {
    .blog-layout {
        display: grid;
        grid-template-areas: "sidebar articles";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }
}

 
/* POST-LIST STYLES */
.post-list {
    padding-left: 0;
    margin: 0;
}
.post-list__item {
    /*  border-bottom: 2px solid lightgrey; */
    /*  max-width: 50ch; */
    list-style: none;
     margin-bottom: 2em;
 }
 .post-list__title {
    margin-bottom: 0.4em;
 }
 .post-list__meta {
    /* font-size: .9em; */
    font-family: var(--font-family-display);
    color: var(--color-text-offset);
    margin-bottom: 0.4em;
    /* opacity: 0.75;
    font-size: 0.9em; */
 }
 
 .post-list__tags {
     display: flex;
     padding-left: 0;
     margin: 0;
 }
 .post-list__tags li {
     list-style: none;
 }
 .post-list__tags > li + li {
     margin-left: 0.5em;
 }
 .post-list__tags > li > a {
    font-family: var(--font-family-display);
    color: var(--color-text-offset);
    font-weight: 500;
    text-decoration: underline;
    padding: .7em .1em;
 }
 .post-list__tags > li > a:hover {
    color: var(--color-links-hover);
 }

