
/* 
POST

.post
.post__header
    .post__meta
    .post__date
    .post__read-time
    .post__tags
.post__content.markdown.article-contianer
    .article
.post__footer
    .next-prev-post article-container
*/
 
.post {
     padding-bottom: 10em;
}
 
.post__header h1{
      color: var(--color-bg);
}
.post__meta {
    color: var(--color-light-gray);
    opacity: 1;
}
/* .post__date, 
 .post__read-time {
     opacity: 0.8;
     font-size: .9em;
 }
  */
.post__tags {
     display: flex;
     margin: 0;
     padding-left: 0;
     font-size: .9em;
     /* opacity: 0.8; */
}
.post__tags li {
     list-style-type: none;
}
.post__tags > li + li {
    margin-left: 0.5em;
}
.post__tags > li > a {
    font-family: var(--font-family-display);
    color: var(--color-light-gray);
}


.post__content {
           
}





/* ARTICLE ANCHOR LINKS */
.anchor-wrapper {
    margin-top: 2em;
    margin-bottom: 0.65em;
    /* display: flex;
    align-items: center; */
}
.anchor-wrapper h2[id] {
    display: inline;
    margin: 0;
}
.anchor-wrapper a {
    display: inline-flex;
    margin-left: .25em;
    font-size: 1.25em;
}

.article-anchor {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 2rem; 
  margin-bottom: 0.65em;
}
.article-anchor [id] {
    margin: 0;
}

/* [id]:target:before {
    content: "Aww, you came to see me!";
    font-size: .9rem;
    font-style: italic;
    position: absolute;
    top: -1.5rem;
} */
/* .article-anchor:target::before {
  content: "Is it me you're looking for?";
  position: absolute;
  font-size: .9rem;
  top: -1.25rem;
  left: 0;
  font-style: italic;
  color: currentColor;
} */

.article-anchor a {
    align-self: start;
    font-size: 1rem;
    grid-row-start: 1;
    line-height: 1;
    opacity: .75;
    text-decoration: none;
    transform: translateX(-50%) translateY(25%);
  opacity: 0.8;
  color: var(--color-links);
}

.article-anchor a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
  opacity: 1;
}

.article-anchor a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.15em;
}

/* Visually hidden while remaining accessible to
assistive tech like screen readers */
.article-anchor span.icon-link * {
  font-size: 1.1rem;
}
.article-anchor span.icon-num {
  font-size: 1.2rem;
  opacity: 0.7;
  font-weight: 400;
}



.heading-anchor-wrapper {
    display: flex;
    align-items: center;
}
.heading-anchor-wrapper .anchor-link {
    margin-bottom: 0.8em;
    margin-left: 0.4em;
}
.heading-anchor-wrapper .anchor-icon {
    font-size: 1.2em;
    font-weight: 400;
    font-size: 1.5em;
    opacity: .8;
}


/* Add a link icon next to heading-anchor link */
.anchor a::after,
.article h3 a[href^="https"]::before {
    content: "🔗 ";
    content: " \1F517";
}


.post__footer {

}

.footer-section .article-container {
    
    /* width: 100%; */
    max-width: 75ch;
    padding: 2rem 1.33rem 3rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid var(--color-light-gray);
}

.share-widget {
    /* background: #f7f6f6;
    color: #333333;
    border-radius: 0.625rem;
    padding: 0.5em 1.5em; */
    
}

.share-list-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
}
/* .share-list-2 li + li::after {
    content: " | ";
} */
.share-list-2 a {
    padding: 0.2em 0.5em;
}


.next-prev-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0;
    /* border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray); */
    /* font-size: 0.9em; */
}
.next-prev-post a {
    padding: 0.1em;
}
.prev-post,
.next-post {
    max-width: 30ch;
    padding: 1em;
}


.post .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
    /* font-size: 0.9em; */
   /*  border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray); */
}
@media (max-width: 570px) {
    .post .actions {
        flex-direction: column;
    }
    .post .actions a + a {
        margin: 2em 0 0;
    }
}
.post .actions a + a {
    margin-left: 2.5em;
}

.post .actions .back {
    text-transform: capitalize;
}

.share {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
    align-items: center;
    padding: 2em 0;
}
.footer-section .rss strong {
 font-size: 0.9em;
}
.share strong {
    margin-bottom: 1em;
    margin-right: 1.2em;
    font-size: 0.9em;
}

.share-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.share-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.share-list li + li {
    margin-left: 2em;
}
.share-list li a {
    padding: 0.5em;
    display: flex;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding: 0.5em;

    background: var(--color-links);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 0.9em;
    align-items: center;
}
.share-list li a > svg {
   /*  width: 28px;
    height: 28px; */
    fill: white;
}
.share-twitter,
.share-facebook,
.rss-link {
    display: flex;
    align-items: center;
    padding: 0.5em;
}


@media (min-width: 768px) {
    .next-prev-post {
        /* justify-content: center; */
    }
    .prev-post {
        text-align: right;
        padding-right: 5em;
        /* border-right: 1px solid #d2d5d9; */
    }
    .next-post {
        /* padding-left: 5em; */
    }
}


#other-posts, 
#rssFeed {
    font-size: 1.125rem;
line-height: 1.65;
font-weight: 700;
color: var(--color-text);
margin: 1em 1em 1rem;
}


.other-posts .btn {
    margin-bottom: 1.7em;
}

.rss {
    padding: 0 1em;
}

/* OTHER POSTS SECTION (More from the blog) */
/* .other-posts .section__title,
.other-posts .post-list__title {
    color: var(--color-bg);
}
.other-posts .post-list__meta {
    color: var(--color-light-gray);
} */