/* 
    SOCIAL ICON LIST
*/
.social-icons,
.social-icons-lables {
    padding-left: 0;
}
.social-icons li,
.social-icons-lables li {
   list-style-type: none;
   display: flex;
   align-items: center;
   padding: 0.1em;
}


.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.social-icons > li + li {
    margin-left: 1em;
   /*  margin-top: 2.5em; */
}
.social-icons  a {
    display: inline-flex;
    padding: 0.5em;

}


/* 
   ICONS WITH TEXT (LABELS)
*/
.social-icons-lables > li + li {
   margin-top: 0.5em;
}
.social-icons-lables a {
    font-size: 0.9em;
   padding: 0.5em;
   display: flex;
    align-items: center;
    /* text-decoration: underline; */
}
.social-icons-lables .label {
    margin-left: .3em;
}

/* 
    ICONS ONLY
*/
 .icon {
    /*  width: 40px;
     height: 40px; */
     fill: currentColor;
    /* fill: var(--color-text); */
 }
 /* .icon:hover {
     color: var(--primary);
     text-decoration: underline solid var(--primary);
 } */
 