
/* 
    BUTTONS
*/
.btn,
.button {
    background-color: var(--primary);
    padding: 1em 1.6em 1.1em;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    font-family: var(--font-family-display);
    border-radius: 3px;
    /* border: 2px solid var(--primary); */
    transition: box-shadow 0.1s;
}
.btn:hover,
.button:hover {
    text-decoration: none;
    color: white;
   opacity: 0.9;
   /*  box-shadow: inset 8px 8px 20px black; */
}
.btn + .btn, 
.button + .button {
    margin-left: 0.8em;
}

.icon-btn {
    padding: 0.8em 1.2em;
    border-radius: 50%;
    text-align: center;
    /* color: #fff;
    background-color: var(--color-gray); */
    transition: background .15s ease;
    position: relative;
    }
.icon-btn:hover {
text-decoration: none;
color: white;
opacity: 0.9;
/*  box-shadow: inset 8px 8px 20px black; */
}
/* 
.pag-btn[aria-disabled=true],
button.btn--delete[aria-disabled=true],
button.btn--delete[disabled],
button.btn--secondary[aria-disabled=true],
button.btn--secondary[disabled] {
    background-color: #fff;
    background-color: var(--button-secondary-disabled-background-color,#fff);
    border-color: #c7c7c7;
    border-color: var(--button-secondary-disabled-border-color,#c7c7c7);
    color: #c7c7c7;
    color: var(--button-secondary-disabled-foreground-color,#c7c7c7)
}

a:not([href]).icon-link>svg, 
a[aria-disabled=true].icon-link>svg, 
button[aria-disabled=true].icon-btn>svg, 
button[disabled].icon-btn>svg {
    background-color: transparent;
    fill: #c7c7c7;
} */

/* BUTTON COLORS */
.btn--primary {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;
    border-radius: 38px;
    box-shadow: .2rem .4rem var(--color-text);
    text-shadow: .125rem .125rem var(--color-text);
}