
   
.footer {
    background-color:var( --color-header);
    color: var(--color-bg);
}

.footer {
    margin-top: 0;
    padding: 2em 0;
}
.footer a {
    color: inherit;
    color: var(--color-light-gray);
}
.footer .site-nav__list a {
    color: var(--color-bg);
}
.footer strong {
    font-size: 115%;
}


.site-footer__top, 
.site-footer__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.site-footer__top > * {
    margin-bottom: 2em;
}


.footer__top {
    display: grid;
    grid-template-areas: "one"
                        "two"
                        "three";
    gap: 1.5rem;
    padding: 2.5em;
}

@media (min-width: 600px) {
    .footer__top {
        display: grid;
        grid-template-areas: "one two"
                            "three ...";
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 2.5em;
    }
}



@media (min-width: 768px) {
    .footer__top {
        display: grid;
        grid-template-areas: "one two three";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        padding: 2.5em;
    }
}

.footer__item > a {
    
    padding: 0.5em;
}