
/* 
    POST
*/
 .article-container {
     width: 100%;
     max-width: 75ch;
     padding: 0 1.33rem;
     /* max-width: 41rem; */
     margin-left: auto;
     margin-right: auto;
     /* padding-top: 5em; */
 }
 .article-layout {
    display: grid;
    grid-template-areas: "meta"
                        "article";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 2.5em;
}

@media (min-width: 768px) {
    .article-layout {
        display: grid;
        grid-template-areas: "meta article";
        grid-template-columns: max-content 1fr;
        grid-template-rows: auto;
    }
}

.article {
    margin-bottom: 5em;
    grid-area: article;
}
 
 .post {
     padding-bottom: 10em;
 }
 
 .post__header {
    
     
 }
 
 .post__meta {
     color: var(--color-bg);
    grid-area: meta;
    margin-bottom: 2em;
}
 
 .post__date, 
 .post__read-time {
     opacity: 0.8;
     font-size: .9em;
 }
 
 .post__tags {
     display: flex;
     margin: 0;
     font-size: .9em;
     /* opacity: 0.8; */
 }
 .post__tags > li + li {
     margin-left: 0.5em;
 }
 .post__tags > li > a {
    /*  background-color: rgb(248, 247, 247); */
    font-family: var(--font-family-display);
    color: var(--color-text);
    color: var(--gray);
    
 }
 

.post__content {
           
}




 .next-prev-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5em;
    padding: 1em 0;
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    font-size: 0.9em;
}
.prev-post,
.next-post {
    max-width: 30ch;
    padding: 2em 0;
}
.feeds a + a {
    margin-left: 2.5em;
}
.feeds {
    display: flex;
    justify-content: flex-start;
    padding: 3em 0;
   /*  border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey); */
}
.icon-button {
padding: 0.8em 1.2em;
border-radius: 50%;
text-align: center;
color: #fff;
background-color: var(--color-gray);
transition: background .15s ease;
position: relative;
}
@media (min-width: 768px) {
    .next-prev-post {
        /* justify-content: center; */
    }
    .prev-post {
        text-align: right;
        padding-right: 5em;
        /* border-right: 1px solid #d2d5d9; */
    }
    .next-post {
        padding-left: 5em;
    }
}