

.projects-container {
    /*  padding: 0 1.5em; */
     /* width: 90%; */
     padding: 0 1.33rem;
     margin-left: auto;
     margin-right: auto;
     max-width: 75rem;
    /*  max-width: 1100px; */
 }

 
.projects-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
   /*  grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto; */
   
    column-gap: 2.5em;
    row-gap: 3.5em;
    margin: 0 0 3.5;
   /*  display: grid;
    grid-template-areas: "card";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    row-gap: 1.5em; */
}
@media (min-width: 768px) {
    .projects-layout {
       
        
    }
}

.project-list .card {
   
   
}

#featured-projects {
    margin-bottom: 0.6em;
}

/*  figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
    
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
 */

.project-list {
    padding-left: 0;
    margin: 0;
}
.project-list li {
    list-style: none;
}

 .project {
    margin: 0;
}

.project + .project  {
   margin-top: 8.77rem;
}
.project__media {
   flex: 1.5;
}
.project__media img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 1px 5px rgba(0,0,0,.05), 0 5px 30px rgba(0,0,0,.2);
    border-radius: 3px;
 }
.project__content {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-self: center;
   padding-top: 1em;
}
.project__heading {
   color: var(--primary);
   color: var(--color-gray);
}
.project__content .links a {
   font-size: 0.7em;
   margin-top: auto;
   color: var(--color-text);
  /*  color: var(--color-gray); */
   background-color: var(--color-bg);
   border: 2px solid var(--gray);
   border-radius: 5px;
}
.project__content .links a:hover {
   margin-top: auto;
   color: var(--color-bg);
   background-color: var(--color-text);
   border: 2px solid var(--color-text);
}

@media (min-width: 768px) {
       .project {
           display: flex;
           flex-direction: row;
       }
       .project__content {
           padding-top: 0;
       }
       .project:nth-child(odd) {
           flex-direction: row-reverse
       }
       .project:nth-child(even),
       .project:nth-child(odd) {
           margin-inline-start:-2.36rem;
       }
       .project > * {
           margin-inline-start:2.36rem;
       }
       .project__media {
           /*  padding: 2em; */
       }
}
