---
layout: "layouts/page.njk"
permalink: "/404/index.html"
title: Page not found
subtitle: This is a 404 error.
description: A 404 error page
excludeFromSitemap: true
headerColor: bg-dark
---


  
<div class="page__content markdown container">
    <p>
        Sorry about that - might be a typo in the URL, or maybe this page has
         moved? Anyway, enjoy this nice error page I made for you.
    </p>
    

    <p class="u-align-center">
        <a href="/" class="btn btn--primary">Go Back</a>
    </p>
</div>
