---
layout: layouts/page.njk
title: about
description: A little bit about me.
socialImage: '/images/bg/intro.png'
permalink: "/about/index.html"
education:
    summary: "I went to school for a traditional Computer Science degree where I gained experience
    with everything from low level assembly language to c++, and data structures and
    algorithms."
headerColor: "bg-dark"
---

<article class="container">

    <h2 class="title-sidelines">Highlights</h2>


    <div class="blog-layout container">

        <section class="articles" aria-labelledby="articles">
            <p>
                I believe that good design is powerful and important in
                My mission is to help make people and their ideas successful.
                I want to solve the problem

                To make a project successful, one must care just as much about the performance
                of the projects as the aesthetics.

                The best products and brands are the result of

                I’m Tristan Gibbs, a front-end Web developer and designer based in
            California, USA. I've been building stuff on the web for the last 12
            years, working with clients across various countries and industries. My
            focus is on creating engaging, accessible &amp; performant interfaces
            for humans.
            </p>
            <p>
                {% image 
                    "/assets/images/intro.png", 
                    "computer monitor", 
                    "(min-width: 30em) 50vw, 100vw" 
                 %}

            </p>
            <p>
                {% "https://codepen.io/USERNAME/pen/SLUG/image/large.png" %}
            </p>
            
            <!-- CODEPEN EMBED - CSS VARIABLES + TRANSFORMS WITH A BUTTON -->
            <p class="codepen" data-height="596" data-theme-id="dark" data-default-tab="result" data-user="danwilson" 
                data-slug-hash="oBrOGW" data-preview="true" 
                style="height: 596px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" 
                data-pen-title="CSS Variables + Transform = Individual Properties (with Inputs)">
                <span>See the Pen <a href="https://codepen.io/danwilson/pen/oBrOGW">
                    CSS Variables + Transform = Individual Properties (with Inputs)</a> by Dan Wilson (<a href="https://codepen.io/danwilson">@danwilson</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
              <!-- CODEPEN EMBED -->

            <p>
                Who you are, what you sell, why you do it.
                
            </p>
            
            <!-- CODEPEN EMBED - THEME TOGGLE FOR LIGHT/DARK MODE -->
            <p class="codepen" data-height="559" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="ZEboePJ" data-preview="true" data-user="bchiang7" style="height: 559px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/bchiang7/pen/ZEboePJ">
                Dark mode toggle with localStorage</a> by Brittany Chiang (<a href="https://codepen.io/bchiang7">@bchiang7</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
              </p>
              <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
              <!-- CODEPEN EMBED -->


            <p>
                We're a group of people who are wildly passionate about changing the way content 
                is created on the web. We believe content creation has been constrained by technology 
                for too long and creativity has taken a backseat. We exist to unlock creativity. 
                Our platform empowers the world's leading brands to share their stories and engage 
                their audiences
            </p>
            <h2>Upgrading npm dependencies</h2>
            <ul>
                <li>Use <code class="language-text">npm outdated</code> to discover dependencies that are out of date</li>
                <li>Use <code class="language-text">npm update</code> to perform safe dependency upgrades</li>
                <li>Use <code class="language-text">npm install &lt;packagename&gt;@latest</code> to upgrade to the latest major version of a package</li>
                <li>Use <code class="language-text">npx npm-check-updates -u</code> and <code class="language-text">npm install</code> to upgrade all dependencies to their latest major versions</li>
            </ul>
            <p>
            <a href="https://www.carlrippon.com/upgrading-npm-dependencies/">For more info</a>
            </p>

            <h2>skills</h2>

            <h2>Process</h2>

            <strong>Plan, Design, Develop.</strong>
            <!-- <p>
                <img
                    srcset="src/images/bg/intro-large.png 1920w, 
                            src/images/bg/intro-medium.png  960w,
                            src/images/bg/intro-small.png   480w"
                    src="src/images/bg/intro-large.png"
                    alt="Desktop computer being used for coding."
                    loading="lazy" >
            </p> -->
            <p>
                

                List of svgs for HTML, CSS, SASS, JS, ELEVENTY, FIGMA
            </p>
            <h3>Plan</h3>
            <p>
                Planning is essential to success in many things in life. I use many tools including: 
                <a href="#">Notion</a> a wonderful tool for managing everything from to-do lists, to 
                so on and so on. In this stage I go through a process of research using questions.
            </p>

            <!-- <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed//c7I17N-Tfz0' frameborder='0' allowfullscreen></iframe>
            </div> -->

            <h3>Design</h3>
            <p>
                In this phase I use anything from a pencil and paper, all the way to a design program 
                such as <a href="">Figma</a>. It's important to layout a design before coding it up.
            </p>

            <h3>Develop</h3>
            <p>
                Some of my tools include <a href="">VS Code</a>, semantic HTML, CSS, JS, and even tools 
                such as the static site generator <a href="">Eleventy</a>.
            </p>

            <h2>education</h2>

            <p>
                I went to school for a traditional Computer Science degree where I
            gained experience with everything from low level assembly language to
            c++, and data structures and algorithms. I loved it so much I became an
            SI Instructor I eventually found myself drawn the most toward Web
            Development and Design.

           
            </p>

        </section>
    
    
    
        <section class="sidebar" aria-labelledby="sidebar">
            

            <h2>Social</h2>
            

            <p>
                <a href="/about/" title="My Resume" rel="me">
                    <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                        <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <span class="label">My resume</span>
                </a>
            </p>
        </section>

    </div>
    
    
    
    
    
    

</article>

{% include "partials/cta.njk" %}
