---
layout: layouts/page.njk
title: "My Blog"
description: A collection of articles from my Web development blog.
image: '/assets/images/posts/code.jpg'
imageAlt: 'A computer monitor with code'
pagination:
    data: collections.posts
    size: 5
permalink: "/blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html"
paginationAnchor: "#post-list"
---


<section class="articles" aria-labelledby="articles">
    <div class="container">
        <h2 id="articles" class="h-display-box">Articles</h2>
        {% set postListItems = pagination.items %} 
        {% include "partials/post-list.njk" %} 
        {% include "partials/pagination-nav.njk" %} 
    </div>
</section>



<section class="topics" aria-labelledby="topics">
    <div class="container">
        <h2 id="topics" class="h-display-box mb-1">Topics</h2>
        {% include "partials/tag-list.njk" %}
    </div>
</section>


<div class="rss container mb-6">
    <h2 id="rssFeed">Subscribe to the feed</h2>

    <a href="{{ site.feedUrl }}" class="btn btn--primary outlined" title="RSS Feed" style="border-radius: 38px;"> 
        <svg class="icon icon-rss" role="img" aria-hidden="true" width="20" height="20" style="fill: currentColor;">
            <use xlink:href="#icon-rss"></use>
        </svg>
        <span class="label">RSS Feed</span>
    </a>

</div>

