---
layout: layouts/page.njk
title: Contact
summary: "Send me a message."
description: A contact form to get in touch with me.
permalink: "/contact/index.html"
formID: ""
headerColor: "bg-dark"
---

 
<section class="contact" aria-labelledby="contact">
    <div class="container">

        <h2 id="contact" class="h-display-box mb-1">Send me a message</h2>


        <!-- Netlify Contact Form  https://snipcart.com/blog/netlify-forms  -->
        <form method="post" name="Contact Form 2" action="/thankyou.html" 
                data-netlify-recaptcha="true" netlify-honeypot="hpfield" data-netlify="true">
            <input class="hidden" name="hpfield">
            <p>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </p>
            <p>
                <label for="comments">Comments:</label><br/>
                <textarea name="comments" id="comments"></textarea>
            </p>
            <div data-netlify-recaptcha="true"></div>
            <p>
                <input type="submit" class="btn btn--primary" value="send">
            </p>
        </form>
        <!-- Netlify Contact Form -->



<!-- 
<form
name="contact-form"
accept-charset="utf-8"
action="https://formspree.io/{{ formID }}"
method="POST"
class="needs-validation"
novalidate
>
<fieldset>
    <div class="form-group">
        <label for="name">Name</label>
        <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Your name"
            required
        />
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            name="_replyto"
            class="form-control"
            id="email"
            placeholder="Your email"
            required
        />
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea
            name="message"
            class="form-control"
            rows="5"
            placeholder="Your message"
            required
        ></textarea>
    </div>

    <input type="text" name="_gotcha" style="display: none" />
    <input
        type="hidden"
        name="_subject"
        id="email-subject"
        value="Contact Form Submission"
    />
</fieldset>

<button class="btn btn-primary" type="submit">Send message</button>
</form>
       
    
    </div>
</section>
     -->