---
layout: layouts/base.njk
description: Personal website for web developer Tristan Gibbs.
image: "/assets/images/intro.png"
imageAlt: 'image of a computer monitor and tablet'
intro:
    eyebrow: "Hi, I'm"
    main: "Tristan Gibbs"
    name:
        first: Tristan
        last: Gibbs
    lead: 'I create performant, accessible, user-friendly solutions for the Web.'
    image: "/images/bg/intro.png"
    imageAlt: "Computer monitor displaying code"
    buttonText: "See my work"
    buttonUrl: "/projects"
---


<header class="page-header">
    <div class="page-header__inner intro-layout container">

        <h1 id="intro-title" class="title">
            <div class="eyebrow">
                {{ intro.eyebrow }}
            </div>
            <div class="name">
                {{ intro.name.first }}
                <br>
                {{ intro.name.last }}
            </div>
        </h1>
        <p class="lead color-white">
            {{ intro.lead }}
        </p>
        <div class="side-img">
            {% include "svg/monitor-and-tablet.svg" %}
        </div>
        <div class="cta">
            <a href="{{ intro.buttonUrl }}" class="btn btn--primary">{{ intro.buttonText }}</a>
        </div>
    </div>
    {% include "svg/wave.svg" %}
</header>





<section class="section" aria-labelledby="featured-projects">
    <div class="container">

        <p class="conic-gradient-border">
            This site is under development. 
            The content is just temporary placeholder content. 
            The projects are not mine, just filler for development purposes.
        </p>
        
        <h2 id="featured-projects" class="h-display-box">
            Featured projects
        </h2>
    
        <div class="section__content">
            {% set projectListItems = collections.featuredProjects %} 
            {% include "partials/project-list.njk" %}
        </div>

        <div class="section__footer">
            <a class="arrow-link" href="/projects/">
                View all projects
                <svg 
                    class="right-arrow" 
                    fill="currentColor" 
                    aria-hidden="true" 
                    focusable="false" 
                    width="35" 
                    height="10">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </a>
        </div>

    </div>
</section>




<section class="section" aria-labelledby="featured-posts">
    <div class="container">

        <h2 id="featured-posts" class="h-display-box">
            Featured posts
        </h2>

        <div class="section__content">
            {% set postListItems = collections.featuredPosts %} 
            {% include "partials/post-list.njk" %}
        </div>

        <div class="section__footer">
            <a class="arrow-link " href="/blog/">
                View all posts 
                <svg 
                    class="right-arrow" 
                    fill="currentColor" 
                    aria-hidden="true" 
                    focusable="false" 
                    width="35" 
                    height="10">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </a>
        </div>

    </div>
</section>



{% include "partials/cta.njk" %}