---
layout: layouts/base.njk
description: Personal website for web developer Tristan Gibbs.
intro:
    eyebrow: "Tristan Gibbs"
    main: "Tristan Gibbs"
    description: "I create performant, accessible, user friendly solutions for the Web."
    buttonText: "See my work"
    buttonUrl: "/projects"
    image: "/images/bg/intro.png"
    imageAlt: "Computer monitor displaying code"
featuredProjects:
    title: "Featured projects"
    buttonText: "View all projects"
    buttonUrl: "/projects"
featuredPosts:
    title: "Featured posts"
    buttonText: "View all posts"
    buttonUrl: "/blog"
headerColor: bg-dark
---


<header class="page-header">
    <div class="page-header__inner intro-layout container">

        <h1 id="intro-title" class="title">
            <div class="eyebrow">
                Hi, I'm<!--Tristan -->
            </div>
            <div class="name">
                Tristan <br>
                Gibbs
            </div>
            <!-- <div>
                Front end <br>
                Web developer <br>
                & designer
            </div> -->
        </h1>
        
        <p class="lead color-white">
            I create performant, accessible,<br> 
            user-friendly solutions for the Web.
        </p>
        <div class="side-img">
            {% include "svg/monitor-and-tablet.svg" %}
            <!-- <svg class="icon icon-monitor-and-tablet" aria-hidden="true" focusable="false" width="100%" height="100%">
                <use xlink:href="#icon-monitor-and-tablet"></use>
            </svg> -->
        </div>
        <div class="cta">
            <a href="{{ intro.buttonUrl }}" class="btn btn--primary">See my work</a>
        </div>
    </div>
    {% include "svg/wave.svg" %}
</header>



<section class="section" aria-labelledby="featured-projects" style="background-color: var(--color-bg);">
    <div class="container">

        <p class="conic-gradient-border">
            This site is under development. 
            The content is just temporary placeholder content. 
            The projects are not mine, just filler for development purposes.
        </p>
        
        <h2 id="featured-projects" class="h-display-box mb-1">
            Featured projects
        </h2>
    
        <div class="section__content">
            {% set projectListItems = collections.featuredProjects %} 
            {% include "partials/project-list.njk" %}
        </div>

        <div class="section__footer">
            <a class="arrow-link" href="/projects/">
                View all projects
                <svg class="right-arrow" fill="currentColor" aria-hidden="true" focusable="false" width="35" height="10">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </a>
        </div>

    </div>
</section>




<section class="section" aria-labelledby="featured-posts" style="background-color: var(--color-bg);">
    <div class="container">

        <h2 id="featured-posts" class="h-display-box mb-1">
            Featured posts
        </h2>

        <div class="section__content">
            {% set postListItems = collections.featuredPosts %} 
            {% include "partials/post-list.njk" %}
        </div>

        <div class="section__footer">
            <a class="arrow-link " href="/blog/">
                View all posts 
                <svg class="right-arrow" fill="currentColor" aria-hidden="true" focusable="false" width="35" height="10">
                    <use xlink:href="#right-arrow"></use>
                </svg>
            </a>
        </div>

    </div>
</section>



{% include "partials/cta.njk" %}