---
layout: layouts/page.njk
title: Projects
description: A list of my web development work.
image: "/assets/images/projects/code.jpg"
imageAlt: 'image of a computer monitor and tablet'
---


<section class="section" aria-labelledby="projects">
    <div class="container">

        <h2 id="projects" class="h-display-box mb-1">Project list</h2>
    
        {% set projectListItems = collections.projects %} 
        {% include "partials/project-list.njk" %}
    
    </div>
</section>
