---
layout: layouts/page.njk
title: Projects
description: A list of my work.
subtitle: Project list
metaDescription: A list of projects and work by me.
headerColor: bg-dark
---


<section class="section" aria-labelledby="projects">
    <div class="container">

        <!-- <h2 id="projects" class="section__title">Project list</h2> -->
        <h2 id="projects" class="h-display-box">Project list</h2>
    
        {% set projectListItems = collections.projects %} 
        {% include "partials/project-list.njk" %}
    
    </div>
</section>
