---
layout: "layouts/page.njk"
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - nav
        - blog
        - posts
        - featuredPosts
        - projects
        - featuredProjects
        - rss
permalink: "blog/tag/{{ tag | slug }}/index.html"
title: Blog
description: A collection of articles from my Web development blog.
eleventyComputed:
    description: "Articles for <mark>{{ tag }}</mark>"
headerColor: bg-dark
---
<section class="articles" aria-labelledby="articles">
    <div class="container">

        <h2 id="articles" class="">
            Articles for topic:  <mark>{{ tag }}</mark>
        </h2>
        
        {% if site.env == 'development' %}
        <h3 class="conic-gradient-border">Development Env</h3>
        {% endif %}

        {% set postListItems = collections[ tag ] %} 
            {% include "partials/post-list.njk" %}      
    
    </div>
</section>



<section class="topics" aria-labelledby="topics">
    <div class="container">

        <!-- <h2 id="topics" class="title-sidelines">Topics</h2> -->
        <h2 id="topics" class="h2-display">Topics</h2>

        {% include "partials/tag-list.njk" %}
        
    </div>
</section>

<div class="container">
        <h2 id="rssFeed">Subscribe to the feed</h2>

    <a href="{{ site.feedUrl }}" class="btn btn--primary outlined" title="RSS Feed" style="border-radius: 38px;"> 
        <svg class="icon icon-rss" role="img" aria-hidden="true" width="20" height="20" style="fill: currentColor;">
            <use xlink:href="#icon-rss"></use>
        </svg>
        <span class="label">RSS Feed</span>
    </a>

</div>
