---
layout: "layouts/page.njk"
permalink: "/thankyou/index.html"
title: Thank You
description: A thank you message for getting in contact with me.
excludeFromSitemap: true
headerColor: bg-dark
---


  
<div class="page__content markdown container">
    <p>
        Thank you for getting in touch with me. I will get back to you 
        as soon as I can.
    </p>
    

    <p class="u-align-center">
        <a href="/" class="btn btn--primary">Go Back</a>
    </p>
</div>
