{% set pageTitle = (title or site.title) %}
{% set pageUrl = site.url + page.url %}
{% set pageDesc = (description or site.description) %}
{% set pageImage = site.url + (image or site.image) %}

<meta name="image" content="{{ pageImage }}">
<meta name="theme-color" content="#1a1a1a">
<!-- <meta name="background-color" content="#fffffe"> -->


<!-- Open Graph / Facebook -->
{%- if layout == "layouts/post.njk" -%}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | dateISO }}">
{%- else -%}
<meta property="og:type" content="website" />
{%- endif -%}
<meta property="og:url" content="{{ pageUrl }}" />
<!-- <meta property="og:site_name" content="{{ site.name }}" /> -->
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:description" content="{{ pageDesc }}" />
<meta property="og:image" content="{{ pageImage }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ pageUrl }}">
<meta property="twitter:title" content="{{ pageTitle }}">
<meta property="twitter:description" content="{{ pageDesc }}">
<meta property="twitter:image" content="{{ pageImage }}">

{# Social Meta #}
<!-- <meta name="twitter:creator" content="@{{ author.social.twitter.name}}">
<meta name="twitter:site" content="@{{ author.social.twitter.name }}"> -->

