{# project-list. 'projectListItems' must be set prior to using. #}

<ol class="project-list">

    {% for project in projectListItems %}
                
        <figure class="project">
            <div class="project__media">
                {% image 
                    project.data.image, 
                    project.data.imageAlt,
                    "(min-width: 768px) 50vw, 100vw"
                %}
            </div>
            <figcaption class="project__content">
                <h3 class="project__heading h3-display">
                    {{ project.data.title }}
                </h3>
                <p class="project__summary">
                    {{ project.data.description }}
                </p>
                <div class="links">
                    <a 
                    href="{{ project.data.url }}" 
                    class="button">
                    Live site
                </a>
                <a 
                    href="{{ project.data.repo }}" 
                    class="button">
                    Source code
                </a>
                </div>
            </figcaption>

        </figure>

    {% endfor %}
</ol>
