<!-- <svg style="margin-bottom: -15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#222725" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,234.7C960,245,1200,235,1320,229.3L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
 -->
<footer id="site-footer" class="site-footer footer" role="contentinfo">

    <section class="site-footer__top container">
        
        <nav class="site-nav site-footer__nav" aria-label="Footer">
            {% include "partials/site-nav.njk" %}
        </nav>
    
        <a href="#" class="icon" aria-label="Back to top" title="Back to top" >
            <span>back to top </span><!-- <strong> &uparrow;</strong> --> 
            <span aria-hidden="true" focusable="false" style="font-size: 1.1em;"> &uparrow;</span>
            <!-- <span aria-hidden="true" focusable="false" style="font-size: 1.2em;"> &#8679;</span> -->
            <!-- <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" 
            style="fill: currentColor;" class="icon-button__icon" aria-hidden="true" focusable="false">
                <path d="M0 16c0 8.837 7.163 16 16 16s16-7.163 16-16-7.163-16-16-16-16 7.163-16 16zM29 16c0 7.18-5.82 13-13 13s-13-5.82-13-13 5.82-13 13-13 13 5.82 13 13z"></path>
                <path d="M22.086 20.914l2.829-2.829-8.914-8.914-8.914 8.914 2.828 2.828 6.086-6.086z"></path>
            </svg> -->
        </a>
        
       
    </section>

    <section class="site-footer__bottom container">
        
            <span class="footer__item" style="font-size: 0.8em;">
                &copy;{% year %}<a class="home-link" rel="me" href="{{ site.url }}">{{ site.author.name }}</a> | 
                <a href="/about/" title="My Resume" rel="me">
                    <svg class="icon" aria-hidden="true" focusable="false" width="16" height="16">
                        <use xlink:href="#icon-file-pdf-solid"></use>
                    </svg>
                    <span class="label">resume</span>
                </a>
                <br>
                <div>Built with <a href="https://www.11ty.dev/">Eleventy</a>. Hosted on <a href="https://www.netlify.com/">Netlify</a></div>
                <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
            </span>
            <!-- <p class="footer__item">
                <strong>Legal</strong><br />
                <a href="/privacy/">Privacy Policy</a> /
                <a href="/legal/">Ownership</a>
            </p> -->
            <span class="footer__item">
                {% include "partials/social-icons.njk" %}
                <!-- <a href="{{ site.repo }}/tree/master/{{ page.inputPath }}" class="footer__icon" title="Edit this page on Github">
                    <span class="sr-only">Edit this page on Github</span>
                    <svg class="icon" aria-hidden="true" focusable="false" width="24" height="24" style="fill: currentColor;">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a> -->
                <!-- <a href="/feed.xml" class="footer__icon" title="RSS Feed">
                    <span class="sr-only">RSS Feed</span> 
                    <svg class="icon icon--feed" role="img" aria-hidden="true" width="24" height="24" style="fill: currentColor;">
                        <use xlink:href="#icon-rss"></use>
                    </svg>
                </a> -->
                
                
            
            </span>
    </section>

</footer>
<!-- 
<div class="footer__item three">
    <p><span>Photo by <a href="https://unsplash.com/@karlp?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Karl Pawlowicz</a> 
       <br> on <a href="https://unsplash.com/s/photos/web-development?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </p> 
         Tristan Gibbs is a freelance Web Developer and Designer who lives 
        in California, USA. His specialty is writing inclusive, performant websites 
        using semantic HTML, modern CSS, and the JAMstack.  
    
</div> -->