<!-- <svg style="margin-bottom: -15px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#222725" fill-opacity="1" d="M0,160L120,176C240,192,480,224,720,234.7C960,245,1200,235,1320,229.3L1440,224L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
 -->
<footer id="site-footer" class="site-footer footer" role="contentinfo">
    <section class="site-footer__top container">
        
        <nav class="site-nav site-footer__nav" aria-label="Footer">
            {% include "partials/site-nav.njk" %}
        </nav>
        
        <div class="social">
            {% include "partials/social-icons.njk" %}
        </div>
    </section>
    <!-- <hr class="hr"> -->
    <section class="site-footer__bottom container">
            <div class="info">
                <span class="author">&copy;{% year %} by {{ author.name }}</span>
                <!-- <span class="bullet">&#8226;</span>  -->
                <div class="attribution"> 
                    Built with <a class="link-11ty" href="https://www.11ty.dev/">11ty</a>
                    and hosted on <a class="link-netlify" href="https://www.netlify.com/">Netlify</a>
                </div>
            </div> 

            <div class="links">
                <!-- <a href="#" class="back-to-top" aria-label="Back to top" title="Back to top" >
                    <span>RSS</span>
                </a> -->
                    <a href="#" class="back-to-top" aria-label="Back to top" title="Back to top" >
                        <span>back to top </span>
                    </a>
            </div>
        
    </section>

</footer>
