{# primary site header. Contains the logo and the main site-navigation #} 

<header id="site-header" class="site-header" role="banner" >
    <div class="site-header__inner">

        <div class="site-header__brand">
            <a href="/" aria-label="{{ site.name }} - home">
                
                <span class="logo">TG</span> Tristan Gibbs
            </a>
        </div>
    
        <nav id="site-nav" class="site-nav" aria-label="Primary">
            {% include "partials/site-nav.njk" %}
        </nav>
        
    </div>
</header>
