
<footer id="site-footer" class="site-footer footer" role="contentinfo">
    <section class="site-footer__top container">
        
        <nav class="site-nav site-footer__nav" aria-label="Footer">
            {% include "partials/site-nav.njk" %}
        </nav>
        
        <div class="social">
            {% include "partials/social-icons.njk" %}
        </div>
    </section>
    
    <section class="site-footer__bottom container">
            <div class="info">
                <span class="author">&copy;{% year %} by {{ author.name }}</span>
                <div class="attribution"> 
                    Built with <a class="link-11ty" href="https://www.11ty.dev/">11ty</a>
                    and hosted on <a class="link-netlify" href="https://www.netlify.com/">Netlify</a>
                </div>
            </div> 

            <div class="links">
                <a href="#" class="back-to-top" aria-label="Back to top" title="Back to top" >
                    <span>back to top </span>
                </a>
            </div>
        
    </section>

</footer>
