{# uses svg definitions from 'symbol-defs.svg' svg sprite file #}

<ul class="social-icons">
    <li>
        <a href="{{ author.social.twitter.url }}" title="twitter" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                <use xlink:href="#icon-twitter"></use>
            </svg>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.github.url }}" title="GitHub" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                <use xlink:href="#icon-github"></use>
            </svg>
            <span class="sr-only">GitHub</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.codepen.url }}" title="CodePen" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                <use xlink:href="#icon-codepen"></use>
            </svg>
            <span class="sr-only">CodePen</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.devto.url }}" title="DevTo" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                <use xlink:href="#icon-devto"></use>
            </svg>
            <span class="sr-only">DevTo</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.linkedin.url }}" title="LinkedIn" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-linkedin"></use>
            </svg>
            <span class="sr-only">LinkedIn</span>
        </a>
    </li>
    <!-- <li>
        <a href="/about/" title="My Resume" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="22" height="22">
                <use xlink:href="#icon-file-pdf"></use>
            </svg>
            <span class="sr-only">Resume</span>
        </a>
    </li>
    <li>
        <a href="/feed.xml" class="footer__icon" title="RSS Feed"> 
            <svg class="icon icon--feed" role="img" aria-hidden="true" width="22" height="22" style="fill: currentColor;">
                <use xlink:href="#icon-rss"></use>
            </svg>
            <span class="sr-only">RSS Feed</span>
        </a>
    </li> -->
</ul>