
<ul class="social-icons-lables">
    <li>
        <a href="{{ author.social.twitter.url }}" title="twitter" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-twitter"></use>
            </svg>
            <span class="label">Twitter</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.github.url }}" title="GitHub" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-github"></use>
            </svg>
            <span class="label">GitHub</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.codepen.url }}" title="CodePen" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-codepen"></use>
            </svg>
            <span class="label">CodePen</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.devto.url }}" title="DevTo" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-devto"></use>
            </svg>
            <span class="label">DevTo</span>
        </a>
    </li>
    <li>
        <a href="{{ author.social.linkedin.url }}" title="LinkedIn" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-linkedin"></use>
            </svg>
            <span class="label">LinkedIn</span>
        </a>
    </li>
    <li>
        <a href="/about/" title="My Resume" rel="me">
            <svg class="icon" aria-hidden="true" focusable="false" width="20" height="20">
                <use xlink:href="#icon-file-pdf-solid"></use>
            </svg>
            <span class="label">Resume</span>
        </a>
    </li>
    <!-- <li>
        <a href="/feed.xml" class="footer__icon" title="RSS Feed"> 
            <svg class="icon icon--feed" role="img" aria-hidden="true" width="20" height="20" style="fill: currentColor;">
                <use xlink:href="#icon-rss"></use>
            </svg>
            <span class="label">RSS Feed</span>
        </a>
    </li> -->
</ul>