{# POST-LIST PARTIAL  #}

<ul class="tag-list">
    {% for tag in collections.tagList %}

        <li class="tag-list__item">
            <a href="/blog/tag/{{ tag | slug }}#tag-list" class="tag-list__link" rel="tag">
                {{ tag }} <!-- ({{ collections[tag].length }}) --> </a>
        </li>

    {% endfor %}
</ul>
